/* SELECTOR PADRE (variables)*/ 
:root{
    --color-primario: #0aa;
    --color-secundario: #082BA5;
    --color-terciario: #007BDF;
    --color-parrafos: #53575A;
    --color-titulos: #282D31;
    --color-sombras: #282D31;
    --z-normal:1;
    --z-tooltip:10;
    --z-fixed:100;
    --z-modal:1000;
}

/* SELECTOR UNIVERSAL  */
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.boton-whatsapp {
   
    position:fixed;
    bottom:1em;
    left: 1em;
    font-size: 2.1em;
    background-color: #4dc247;
    padding: 0.01em 0.3em ;
    border-radius:100%;
    line-height: 1.5em;
    color: #fff;
    z-index: var(--z-fixed);

}
.boton-whatsapp:hover{
    color:#fff;
    background-color: #35ad32;
}


/* INICIO DE MENÚ */
header{
    background-color: #ffff;
    position: fixed ;
    top: 0;
    width: 100%;
    z-index: var(--z-modal);
    box-shadow: 0 0 4px var(--color-sombras);
}
.menu{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-size: 1em;
}

.img-logo{
    height: 4em;
}

.icono-menu{
    /* visibility:hidden; */
    display: none;
}

.enlaces a{
    color:var(--color-primario);
    text-decoration: none;
    padding: .5em;
    font-size: 1.0em;
}

.headroom{
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned{
    transform: translateY(0%)
}
.headroom--unpinned{
    transform:translateY(-100%)
}

@media  screen and (max-width:1023px) {
    .menu{
        flex-direction: column;

    }
    .icono-menu{
        display: block;
        color: var(--color-primario);
        font-size: 2em;
        margin-top: .5em;
    }
    .logo{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .enlaces{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
/* FIN DE MENÚ */


/* INICIO DE BANNER  */

.main-banner{
    position: relative;
    top:45px;
    padding: 12em 12em;
    margin-bottom: 8em;
}


.centrado{
    display: block;
    margin-right:auto;
    margin-left: auto;
}

.main-banner::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    /* modo de fusion 
    background-color: darkblue;
    mix-blend-mode:color;
    opacity: .6; */
}

.banner-img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
    object-fit: contain; 
 
}
.banner-data{
    position:relative;
    text-align: center;
    right: 30%;
}

.banner-titulo{
    color:var(--color-primario);
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.5em;

}

@media screen and (max-width: 840px){
    .main-banner{
        padding: 3em 3em;
       
    }
    .banner-titulo{
        font-size: 0.9em;
     
    }

    .banner-parrafo{
        font-size: 0.9em;
    }
  
}
.banner-info{
    text-align: center;
}

.banner-boton:hover{
    background-color: var(--color-primario);
    color:#fff;
    transition: background-color .4s ease-in-out ;
}


/* FIN DE BANNER */


/* INICIO DE CARDS */

.cards-grid{
    display: grid;
    gap:2em;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
}
.card{
    background-color: #fff;
    border-radius: .4em;
    box-shadow: 0 0 4px var(--color-sombras);
    border:1px solid var(--color-parrafos)
}
.card-img img{
    width: 100%;
    border-radius: .4em .4em 0 0;
}

.card-content{
    padding:1em;
    display: flex;
    flex-direction: column;
}
.card-tittle{
    font-family: 'Roboto';
    font-weight: 700;
    text-align:center;
    font-size: 1.2em;
}
.card-boton{
    font-family: 'Roboto';
    font-weight: 600;
    text-decoration: none;
    text-align:center;
    color: var(--color-primario);
    border-radius:.5em;
    border:1px solid var(--color-primario);
    padding: 0.4em .6em;
}
.card-boton:hover{
    background-color: var(--color-primario);
    color:#fff;
    transition: background-color .4s ease-in-out ;
}
/* FIN DE CARDS */

/* Contacto */
.contacto {
  background-color: #1abc9c;
  border-radius: 5px;
}